{% extends 'base.html' %}
{% block description %}<meta name="description" content="">{% endblock %}
{% block keywords %}<meta name="keywords" content="">{% endblock %}
{% block title %}Products{% endblock %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock %}
{% block main %}
    <!-- Header start -->
    {% include 'components/header.html' %}
    <!-- Header end -->
    <main class="container">
        <h1 class="heading">
            <ion-icon name="cart-outline"></ion-icon> Shopping Cart
        </h1>
        <div class="item-flex">
            <!--
       - checkout section
      -->
            <section class="checkout">
                <h2 class="section-heading">Payment Details</h2>
                <div class="payment-form">
                    <div class="payment-method">
                        <button class="method selected">
                            <ion-icon name="card"></ion-icon>
                            <span>Credit Card</span>
                            <ion-icon class="checkmark fill" name="checkmark-circle"></ion-icon>
                        </button>
                        <button class="method">
                            <ion-icon name="logo-paypal"></ion-icon>
                            <span>PayPal</span>
                            <ion-icon class="checkmark" name="checkmark-circle-outline"></ion-icon>
                        </button>
                    </div>
                    <form action="#">
                        <div class="cardholder-name">
                            <label for="cardholder-name" class="label-default">Cardholder name</label>
                            <input type="text"
                                   name="cardholder-name"
                                   id="cardholder-name"
                                   class="input-default">
                        </div>
                        <div class="card-number">
                            <label for="card-number" class="label-default">Card number</label>
                            <input type="number"
                                   name="card-number"
                                   id="card-number"
                                   class="input-default">
                        </div>
                        <div class="input-flex">
                            <div class="expire-date">
                                <label for="expire-date" class="label-default">Expiration date</label>
                                <div class="input-flex">
                                    <input type="number"
                                           name="day"
                                           id="expire-date"
                                           placeholder="31"
                                           min="1"
                                           max="31"
                                           class="input-default">
                                    /
                                    <input type="number"
                                           name="month"
                                           id="expire-date"
                                           placeholder="12"
                                           min="1"
                                           max="12"
                                           class="input-default">
                                </div>
                            </div>
                            <div class="cvv">
                                <label for="cvv" class="label-default">CVV</label>
                                <input type="number" name="cvv" id="cvv" class="input-default">
                            </div>
                        </div>
                    </form>
                </div>
                <button class="btn btn-primary">
                    <b>Pay</b> $ <span id="payAmount">{{ order.get_subtotal }}</span>
                </button>
            </section>
            <!--
        - cart section
      -->
            <section class="cart">
                <div class="cart-item-box">
                    <h2 class="section-heading">Order Summery</h2>
                    {% for orderitem in orderitems %}
                    <div class="product-card productcard{{ orderitem.id }}">
                        <div class="card">
                            <div class="img-box mx-3">
                                <img src="{{ orderitem.product.productimages.first.image.url }}"
                                     alt="{{ orderitem.product.name }}"
                                     width="80px"
                                     class="product-img">
                            </div>
                            <div class="detail mx-1">
                                <h4 class="product-name">{{ orderitem.product.name }}</h4>
                                <div class="wrapper">
                                    <div class="product-qty">
                                        <span id="quantity">{{ orderitem.color }}</span>
                                    </div>
                                    <div class="product-qty">
                                        <span id="quantity">{{ orderitem.quantity }}</span>
                                    </div>
                                    <div class="price">
                                        $ <span id="price">{{ orderitem.product.price }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="wrapper">
                    <div class="discount-token">
                        <label for="discount-token" class="label-default">Gift card/Discount code</label>
                        <div class="wrapper-flex">
                            <input type="text"
                                   name="discount-token"
                                   id="discount-token"
                                   class="input-default">
                            <button class="btn btn-outline">Apply</button>
                        </div>
                    </div>
                    <div class="amount">
                        <div class="subtotal">
                            <span>Subtotal</span> <span>$ <span id="subtotal">{{ order.get_subtotal }}</span></span>
                        </div>
                        <div class="tax">
                            <span>Tax</span> <span>$ <span id="tax">0.00</span></span>
                        </div>
                        <div class="shipping">
                            <span>Shipping</span> <span>$ <span id="shipping">0.00</span></span>
                        </div>
                        <div class="total">
                            <span>Total</span> <span>$ <span id="total">{{ order.get_subtotal }}</span></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
{% block javascript %}
    <!--
    - custom js link
  -->
    <script src="{% static 'js/main.js' %}"></script>
    <!--
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script>
        $("#searchinput").on('input', function(){
          $.ajax({
                type : 'GET',
                data : {
                    q: $("#searchinput").val(),
                },
                //url: "", 
                success: function(data){
                    var resultText = "";
                    if (data.length == 0){
                        resultText = "Not found product for your query.";
                    }
                    else{
                        for (var i=0; i<data.length; i++){
                            resultText = resultText + `
                                <div class="serachResult">
                                    <div class="image">
                                        <a href="">
                                            <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044" alt="">
                                        </a>
                                    </div>
                                    <div class="name-price">
                                        <div class="name">
                                            <a href="">${data[i].name}</a>
                                        </div>
                                        <div class="price">
                                            <span>
                                                $${data[i].price}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            `;
                        }
                    }
                    if($("#searchinput").val() != "" && $("#searchinput").val() != " " && data.length){
                        $("#searchresultarea").html(resultText);
                        $("#viewall").html(`<a href="" class="viewAll">
                                                View all(${data.length})
                                                <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>`
                                        );
                    }
                    else if($("#searchinput").val() != "" && $("#searchinput").val() != " " && !data.length){
                        $("#searchresultarea").html(resultText);
                        $("#viewall").html("");
                    }
                    else{
                        $("#searchresultarea").html("");
                        $("#viewall").html("");
                    }
                },
                error: function(res){
                    $("searchresultarea").text(res);

                },
            });
        });

</script>
<script>
    $("#products").on('click', '.removingItem', function(){
        var orderitemid = $(this).parent().parent().children().first().html();
        var parent = $(this).parent().parent().parent();
        var parentProducts = $(this).parent().parent().parent().parent();
        var orderitem = $('.productcard'+orderitemid);
        $.ajax({
            type: 'GET',
            data: {
                orderitemid: orderitemid,
            },
            beforeSend: function(){
                parent.html("<div class='my-5' style='margin:auto; width:70px;'>Deleting...</div>");
            },
            success: function(data){
                var basketCount = $("#basketcount").text();
                var subtotalPrice = $("#subtotalprice").text();
                var subtotalFloatPrice = parseFloat(subtotalPrice);
                basketCount--;
                subtotalFloatPrice -= data["productprice"] * data["orderitemquantity"];
                $("#basketcount").text(basketCount);
                $("#subtotalprice").text(subtotalFloatPrice);
                $("#subtotal").text(subtotalFloatPrice);
                $("#total").text(subtotalFloatPrice);
                $("#payAmount").text(subtotalFloatPrice);
                parent.html("<div class='my-5' style='margin:auto; width:70px;'>Deleted <i class='fa-solid fa-check'></i></div>");
                setTimeout(function(){
                    parent.remove();
                    orderitem.remove();
                    if($("#products").has("div")){
                        $("").insertAfter(".basketTxt-closeIcon");
                    }
                    else{
                        $(`<div class="emptyBasket" id="emptybasket">
                            <div class="emptybasketIcon">
                                <i class="bi bi-cart-x"></i>
                            </div>
                            <p>Your basket is empty</p>
                            <div class="returnBtn">
                                <a class="basketToShopBtn" href="">RETURN TO SHOP</a>
                            </div>
                        </div>`).insertAfter(".basketTxt-closeIcon");
                    }
                }, 2000);
            },
            error: function(res){
                alert("Error " + res.status);
                setTimeout(function(){
                    parent.html(`<div class='products my-5' style='margin:auto; width:70px;'>Error ${ res.status }!</div>`);
                }, 2000);
            },
        });
    });
</script>
{% endblock %}
