{% extends 'base.html' %}
{% block description %}
<meta name="description" content="">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="">
{% endblock %}
{% block title %} Products {% endblock %}
{% load static %}

{% block main %}
<!-- Header start -->
{% include 'components/header.html' %}
<!-- Header end -->
<main>
    <section id="forgotPwSection">
        <div class="container">
            <div class="row forgotPwRow">
                <div id="forgotPwPage">
                    <div class="forgotPwForm">
                        <div class="recoverPwTxt-closeIcon">
                            <span class="recoverPwTxt">RECOVER PASSWORD</span>
                        </div>
                        <div class="recoverPwInputArea">
                            <form action="post">
                                <label for="recmail">Email address</label><br>
                                <input id="recmail" type="email"><br><br>
                                <button type="submit">RESET PASSWORD</button>
                            </form>
                        </div>
                        <p class="recoverPwP">Remembered your password? <a class="goLogin" href="">Back to login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}