{% extends 'base.html' %}
{% block description %}
<meta name="description" content="">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="">
{% endblock %}
{% block title %} Products {% endblock %}
{% load static %}

{% block main %}
<!-- Header start -->
{% include 'components/header.html' %}
<!-- Header end -->
<main>
    <section id="forgotPwSection">
        <div class="container">
            <div class="row forgotPwRow">
                <div id="forgotPwPage">
                    <div class="forgotPwForm">
                        <div class="recoverPwTxt-closeIcon">
                            <span class="recoverPwTxt">RECOVER PASSWORD</span>
                        </div>
                        <div class="recoverPwInputArea">
                            {% if messages %}
                            <ul style="list-style-type:none;" class="messages">
                                {% for message in messages %}
                                <li class="alert alert-info"><span>{{ message }}</span></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <form method="post" onsubmit="btnsubmit()">
                                {% csrf_token %}
                                
                                <label for="recmail">Email address</label><br>
                                {{ form.username }}<br><br>
            
                                <button type="submit" id="thissubmitbtn">RESET PASSWORD</button>
                            </form>
                        </div>
                        <p class="recoverPwP">Remembered your password? <a class="goLogin" href="{% url 'customer:login' %}">Back to login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{%  block javascript %}

<script>
    function btnsubmit(){
        document.getElementById("thissubmitbtn").innerHTML="<i class='fa-solid fa-arrow-rotate-right'></i>";
    }
    $("#searchinput").on('input', function(){
      $.ajax({
            type : 'GET',
            data : {
                q: $("#searchinput").val(),
            },
            //url: "", 
            success: function(data){
                var resultText = "";
                if (data.length == 0){
                    resultText = "Not found product for your query.";
                }
                else{
                    for (var i=0; i<data.length; i++){
                        resultText = resultText + `
                            <div class="serachResult">
                                <div class="image">
                                    <a href="">
                                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044" alt="">
                                    </a>
                                </div>
                                <div class="name-price">
                                    <div class="name">
                                        <a href="">${data[i].name}</a>
                                    </div>
                                    <div class="price">
                                        <span>
                                            $${data[i].price}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        `;
                    }
                }
                if($("#searchinput").val() != "" && $("#searchinput").val() != " " && data.length){
                    $("#searchresultarea").html(resultText);
                    $("#viewall").html(`<a href="" class="viewAll">
                                            View all(${data.length})
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </a>`
                                    );
                }
                else if($("#searchinput").val() != "" && $("#searchinput").val() != " " && !data.length){
                    $("#searchresultarea").html(resultText);
                    $("#viewall").html("");
                }
                else{
                    $("#searchresultarea").html("");
                    $("#viewall").html("");
                }
            },
            error: function(res){
                $("searchresultarea").text(res);

            },
        });
    });
</script>

{% endblock %}