{% extends 'base.html' %}
{% block description %}
<meta name="description" content="">
{% endblock %}
{% block keywords %}
<meta name="keywords" content="">
{% endblock %}
{% block title %} Products {% endblock %}
{% load static %}

{% block main %}
<!-- Header start -->
{% include 'components/header.html' %}
<!-- Header end -->
<main>
    <section id="Entrance">
        <div class="row productEntranceRow">
            <div class="productImage-Content">
                <div
                    class="productImage"><img src="https://m.media-amazon.com/images/S/aplus-media/vc/932f56fe-0014-43a5-aa27-505cebe9b99d.__CR0,0,1464,600_PT0_SX1464_V1___.jpg" alt=""></div>
                <div class="productContent">
                    <span>{{ toptitle }}</span>
                </div>
            </div>
        </div>
    </section>
    {% if products %}
    <section id="filter">
        <div class="container">
            <a id="filterIcon" style="cursor:pointer;"><i class="fa-solid fa-filter"></i>Filter</a>
            <div class="row myRow">
               <form id="filterForm">
                <div class="byPrice col-lg-4 col-md-6 col-sm-12">
                    <div class="title">
                        <span>
                            By Price
                        </span>
                    </div>
                    <div class="wrapper">
                        <div class="rangeDiv">
                            <div class="slider-track"></div>
                                <div class="rangeValueDiv">
                                    <input type="range" min="0" max="999" value="0" id="slider-1" oninput="slideOne()">
                                <input type="range" min="0" max="999" value="999" id="slider-2"
                                    oninput="slideTwo()">
                                <button class="priceSubmitBtn" type="button">FILTER</button>
                                </div>
                                    <div class="values">
                                        <span class="priceTxt">Price:</span>
                                        <span>£</span>
                                        <span id="range1">
                                            0
                                        </span>
                                        <input id="rangeInput1" type="hidden">
                                        <input  id="rangeInput2" type="hidden">
                                        <span> &dash; </span>
                                        <span>£</span>
                                        <span id="range2">
                                            100
                                        </span>
                                </div>
                        </div>
                    </div>
                   
                </div>
               </form>
            </div>
        </div>
    </section>
    {% endif %}
    <section id="products">
        <div class="container" id="productsContainer">
            <div class="row" id="productsrow">
                {% for product in products %}
                <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="image">
                        <div class="d-none">{{ product.id }}</div>
                        <a class="mainImage" href="{% url 'shop:detail' product.id %}">
                            <img src="{{ product.productimages.first.image.url }}"
                                alt="{{ product.name }}">
                            <div class="icons">
                                {% if request.user.is_authenticated %}
                                {% if product in wishlistproducts %}
                                <a class="wishlist wish{{ product.id }}" style="cursor:pointer;"><i class="bi-heart-fill whishListBackground"></i></a>
                                {% else %}
                                <a class="wishlist wish{{ product.id }}" style="cursor:pointer;"><i class="bi bi-heart"></i></a>
                                {% endif %}
                                {% else %}
                                <a class="wishlist" href="{% url 'customer:login' %}"><i class="bi bi-heart"></i></a>
                                {% endif %}
                            </div>

                        </a>
                        <a class="secondImage" href="{% url 'shop:detail' product.id %}">
                            <img src="{{ product.productimages.last.image.url }}"
                                alt="">
                        </a>
                        {% if request.user.is_authenticated %}
                        <div class="addToCard">
                                            
                            <a class="toCard modalShowerAddToCard" style="cursor:pointer;">ADD TO CART</a>
                        </div>
                        {% else %}
                        <div class="addToCard">
                                            
                            <a href="{% url 'customer:login' %}" class="toCard">ADD TO CART</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="name-price">
                        <div class="name"><a href="{% url 'shop:detail' product.id %}">{{ product.name }}</a></div>
                        <div class="price">£{{ product.price }}</div>
                    </div>
                    <div class="bg-modal d-none">
                        <div class="productModal animate__animated d-none">
                            <div class="image-name-price">
                                <div class="modalImage">
                                    <img src="{{ product.productimages.first.image.url }}" alt="">
                                </div>
                                <div class="modalname-price">
                                    <div class="modalName d-none">
                                        <a href="">{{ product.id }}</a>
                                    </div>
                                    <div class="modalName">
                                        <a href="{% url 'shop:detail' product.id %}">{{ product.name }}</a>
                                    </div>
                                    <div class="modalPrice">
                                        ${{ product.price }}
                                    </div>
                                </div>
                                
                            </div>
                            <div class="modalcolor-text">
                                <div class="modalText">
                                    <span class="modalColorVal">Color : <span>Blue</span> </span>
                                </div>
                                <div class="modalColor">
                                    <ul class="modalColorUl">
                                        {% for color in product.colors.all %}
                                        <li class="modalColorLi" data-value="{{ color.name }}"><a
                                                style="background-color: #{{ color.code }};" href=""></a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="modalsize-text">
                                <div class="modalText">
                                    <span class="modalSizeVal">Size: <span>40</span> </span>
                                </div>
                                <div class="modalSize">
                                    <ul class="modalSizeUl">
                                        {% for size in product.sizes.all %}
                                        <li class="modalSizeLi" data-value="{{ size.number }}"><span>{{ size.number }}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="modalcounter-button">
                                <div class="modalCounter">
                                    <button class="modalMinus"><i class="fa-solid fa-minus"></i></button>
                                    <span class="modalProductCounter" >1</span>
                                    <button class="modalPlus"><i class="fa-solid fa-plus"></i></button>
                                </div>
                                <div class="modalButton">
                                    <button class="modalAddCard col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                        ADD TO CARD
                                    </button>
                                </div>
                            </div>
                            <div class="modalViewFullDetails">
                                <a href="{% url 'shop:detail' product.id %}">View full details <i class="las la-long-arrow-alt-right"></i></a>
                            </div>
                            <div class="modalClose">
                                <i class="las la-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="mt-5">
                    <p>Not found any product.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/products.js' %}"></script>

<script>
    $("#searchinput").on('input', function(){
      $.ajax({
            type : 'GET',
            data : {
                q: $("#searchinput").val(),
            },
            //url: "", 
            success: function(data){
                var resultText = "";
                if (data.length == 0){
                    resultText = "Not found product for your query.";
                }
                else{
                    for (var i=0; i<data.length; i++){
                        resultText = resultText + `
                            <div class="serachResult">
                                <div class="image">
                                    <a href="">
                                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044" alt="">
                                    </a>
                                </div>
                                <div class="name-price">
                                    <div class="name">
                                        <a href="">${data[i].name}</a>
                                    </div>
                                    <div class="price">
                                        <span>
                                            $${data[i].price}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        `;
                    }
                }
                if($("#searchinput").val() != "" && $("#searchinput").val() != " " && data.length){
                    $("#searchresultarea").html(resultText);
                    $("#viewall").html(`<a href="" class="viewAll">
                                            View all(${data.length})
                                            <i class="fa-solid fa-arrow-right-long"></i>
                                        </a>`
                                    );
                }
                else if($("#searchinput").val() != "" && $("#searchinput").val() != " " && !data.length){
                    $("#searchresultarea").html(resultText);
                    $("#viewall").html("");
                }
                else{
                    $("#searchresultarea").html("");
                    $("#viewall").html("");
                }
            },
            error: function(res){
                $("searchresultarea").text(res);

            },
        });
    });
</script>

<script>
    $(".modalAddCard").on('click', function(){
        var productid = $(this).parent().parent().prev().prev().prev().children().last().children().first().children().first().html();
        var colorval = $(this).parent().parent().prev().prev().children().first().children().last().children().first().html();
        var sizeval = $(this).parent().parent().prev().children().first().children().last().children().first().html();
        var count = $(this).parent().parent().children().first().children().next().html();
        $.ajax({
            type : 'POST',
            data : {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                choice: "addtocard",
                productid: productid,
                color: colorval,
                size: sizeval,
                count: count,
            },
            beforeSend: function(){
                $(".modalAddCard").html('<div class="spinner-border spinner-border-sm" role="status"><span class="sr-only">Loading...</span></div>');
                $(".modalAddCard").attr("disabled", "disabled");
            },
            success: function(data){
                if($("#emptybasket").hasClass("d-none")){
                    $("#emptybasket").addClass("");
                }
                else{
                    $("#emptybasket").addClass("d-none");
                }
                $("#products").prepend(`
                    <div class="basketProduct">
                        <div class="basketProductImage">
                            <a href="">
                                <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/9_b244f435-8ba1-4547-ac06-9d5dd5f0a134_360x.jpg?v=1604999525" alt="">
                            </a>
                        </div>
                        <div class="basketContent">
                            <div class="d-none">${ data["orderitemid"] }</div>
                            <div class="productName">
                                <a href="">
                                    ${ data["productname"] } (<span>${ data["orderitemsize"] }/${ data["orderitemcolor"] }</span>) x ${ data["quantity"] }
                                </a>
                            </div>
                            <span class="productPrice">
                                $${ data["productprice"] }
                            </span>
                            <!--<div class="removeItem">
                                <a href='/removeorderitem/${ data["orderitemid"] }/' class="removingItem"><i class="bi bi-trash"></i></span>
                            </div>-->
                            <div class="removeItem">
                                <span class="removingItem"><i class="bi bi-trash"></i></span>
                            </div>
                        </div>
                    </div>
                `);
                var basketCount = $("#basketcount").text();
                var subtotalPrice = $("#subtotalprice").text();
                var subtotalFloatPrice = parseFloat(subtotalPrice);
                basketCount++;
                subtotalFloatPrice += data["productprice"] * data["quantity"];
                $("#basketcount").text(basketCount);
                $("#subtotalprice").text(subtotalFloatPrice);
                $(".modalAddCard").html("<i class='fa-solid fa-check'></i>");
                setTimeout(function(){
                    $(".modalAddCard").html("ADD TO CARD");
                    $(".modalAddCard").removeAttr("disabled");
                }, 1500);
            },
            error: function(res){
                alert("Error " + res.status);
                setTimeout(function(){
                    $(".modalAddCard").html("ADD TO CARD");
                }, 1500);
            },
        });
    });

    $("#products").on('click', '.removingItem', function(){
        var orderitemid = $(this).parent().parent().children().first().html();
        var parent = $(this).parent().parent().parent();
        var parentProducts = $(this).parent().parent().parent().parent();
        $.ajax({
            type: 'GET',
            data: {
                orderitemid: orderitemid,
            },
            beforeSend: function(){
                parent.html("<div class='my-5' style='margin:auto; width:70px;'>Deleting...</div>");
            },
            success: function(data){
                var basketCount = $("#basketcount").text();
                var subtotalPrice = $("#subtotalprice").text();
                var subtotalFloatPrice = parseFloat(subtotalPrice);
                basketCount--;
                subtotalFloatPrice -= data["productprice"] * data["orderitemquantity"];
                $("#basketcount").text(basketCount);
                $("#subtotalprice").text(subtotalFloatPrice);
                parent.html("<div class='my-5' style='margin:auto; width:70px;'>Deleted <i class='fa-solid fa-check'></i></div>");
                setTimeout(function(){
                    parent.remove();
                    if($("#products").has("div")){
                        $("").insertAfter(".basketTxt-closeIcon");
                    }
                    else{
                        $(`<div class="emptyBasket" id="emptybasket">
                            <div class="emptybasketIcon">
                                <i class="bi bi-cart-x"></i>
                            </div>
                            <p>Your basket is empty</p>
                            <div class="returnBtn">
                                <a class="basketToShopBtn" href="">RETURN TO SHOP</a>
                            </div>
                        </div>`).insertAfter(".basketTxt-closeIcon");
                    }
                }, 2000);
            },
            error: function(res){
                alert("Error " + res.status);
                setTimeout(function(){
                    parent.html(`<div class='products my-5' style='margin:auto; width:70px;'>Error ${ res.status }!</div>`);
                }, 2000);
            },
        });
    });

    $(".wishlist").on('click', function(){
        var productid = $(this).parent().parent().children().first().html();
        var wishlistitem = $(".wish"+productid);
        var wishlistcount = $("#wishlistcount");
        $.ajax({
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                choice: 'wishlist',
                productid: productid,
            },
            beforeSend: function(){
                wishlistitem.html('<div class="spinner-border spinner-border-sm" role="status"><span class="sr-only">Loading...</span></div>');
            },
            success: function(data){
                wishlistcount.html(data["wishlistcount"]);
                wishlistitem.html(`<i class='${ data["stat"] }'></i>`);
            },
        });
    });

    $(".priceSubmitBtn").on('click', function(){
        var button = $(this);
        var minPrice = $("#range1").html();
        var maxPrice = $("#range2").html();
        var productsSection = $("#productsContainer");
        var productsRow = $("#productsrow");

        $.ajax({
            type: 'GET',
            data: {
                minprice: minPrice,
                maxprice: maxPrice,
            },
            beforeSend: function(){
                productsRow.html(`
                <div class="my-5 text-center">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                `);
                button.attr("disabled", "disabled");
            },
            success: function(data){
                productsRow.html("");
                
                for(i=0; i<data["products"].length; i++){
                    productsRow.append(`
                    <div class="smallImage col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="image">
                            <div class="d-none">${ data["products"][i].id }</div>
                            <a class="mainImage" href="">
                                <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044"
                                    alt="${ data["products"][i].name }">
                                <div class="icons">
                                    <a class="wishlist" style="cursor:pointer;"><i class="bi bi-heart"></i></a>
                                </div>
    
                            </a>
                            <a class="secondImage" href="">
                                <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/3_f793aa93-354e-4b50-8b86-d2ebe46e30a5_360x.jpg?v=1605080943"
                                    alt="">
                            </a>
                            <div class="addToCard">
                                                
                                <a href="" class="toCard modalShowerAddToCard">ADD TO CART</a>
                            </div>
                        </div>
                        <div class="name-price">
                            <div class="name"><a href="">${ data["products"][i].name }</a></div>
                            <div class="price">$${ data["products"][i].price }</div>
                        </div>
                        <div class="bg-modal d-none">
                            <div class="productModal animate__animated d-none">
                                <div class="image-name-price">
                                    <div class="modalImage">
                                        <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044" alt="">
                                    </div>
                                    <div class="modalname-price">
                                        <div class="modalName d-none">
                                            <a href="">${ data["products"][i].id }</a>
                                        </div>
                                        <div class="modalName">
                                            <a href="">${ data["products"][i].name }</a>
                                        </div>
                                        <div class="modalPrice">
                                            $${ data["products"][i].price }
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="modalcolor-text">
                                    <div class="modalText">
                                        <span class="modalColorVal">Color : <span>Blue</span> </span>
                                    </div>
                                    <div class="modalColor">
                                        <ul class="modalColorUl">
                                            {% for color in product.colors.all %}
                                            <li class="modalColorLi" data-value="{{ color.name }}"><a
                                                    style="background-color: #{{ color.code }};" href=""></a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="modalsize-text">
                                    <div class="modalText">
                                        <span class="modalSizeVal">Size: <span>40</span> </span>
                                    </div>
                                    <div class="modalSize">
                                        <ul class="modalSizeUl">
                                            {% for size in product.sizes.all %}
                                            <li class="modalSizeLi" data-value="{{ size.number }}"><span>{{ size.number }}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="modalcounter-button">
                                    <div class="modalCounter">
                                        <button class="modalMinus"><i class="fa-solid fa-minus"></i></button>
                                        <span class="modalProductCounter" >1</span>
                                        <button class="modalPlus"><i class="fa-solid fa-plus"></i></button>
                                    </div>
                                    <div class="modalButton">
                                        <button class="modalAddCard col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                            ADD TO CARD
                                        </button>
                                    </div>
                                </div>
                                <div class="modalViewFullDetails">
                                    <a href="">View full details <i class="las la-long-arrow-alt-right"></i></a>
                                </div>
                                <div class="modalClose">
                                    <i class="las la-times"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    `);
                }
                button.removeAttr("disabled");
            },
        });
    });
</script>
{% endblock %}


