<footer>
    <section id="topFooterFullWidth">
        <div class="container">
            <div class="row">
                <div class="info-links">
                    <div class="info col-lg-3 col-md-6 col-sm-12">
                        <div class="logo"><img
                                src="https://cdn.shopify.com/s/files/1/1385/4931/files/Logo-img_38c63be0-fb31-4328-b860-cedd88ea4232_170x.png?v=1604980222"
                                alt=""></div>
                        <div class="location"><a href="">
                                <i class="fa-solid fa-location-dot"></i></a>
                            <span>184 Main Rd E, St Albans</span>
                        </div>
                        <div class="mail">
                            <i class="fa-solid fa-envelope"></i>
                            <a href="mailto:zeynalli6603.7@gmail.com">zeynalli6603.7@gmail.com</a>
                        </div>
                        <div class="number">
                            <i class="fa-solid fa-phone"></i>
                            <span>+994556436755</span>
                        </div>
                        <div class="socials">
                            <a class="fb" href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a class="tw" href=""><i class="fa-brands fa-twitter"></i></a>
                            <a class="ig" href=""><i class="fa-brands fa-instagram"></i></a>
                            <a class="yt" href=""><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="links col-lg-9 col-md-6 col-sm-12 ">
                        <ul class="linkUl">
                            <li class="footerBrands">
                                <p class="fullWidthBrand">BRANDS</p>
                                <ul class="footerBrandScroll">
                                    <li><a href="">Nike</a></li>
                                    <li><a href="">Adidas</a></li>
                                    <li><a href="">Puma</a></li>
                                    <li><a href="">Converse</a></li>
                                    <li><a href="">Vans</a></li>
                                    <li><a href="">New Balance</a></li>
                                    <li><a href="">Nike</a></li>
                                    <li><a href="">Adidas</a></li>
                                    <li><a href="">Puma</a></li>
                                    <li><a href="">Converse</a></li>
                                    <li><a href="">Vans</a></li>
                                    <li><a href="">New Balance</a></li>
                                </ul>
                            </li>
                            <li class="footerProducts">
                                <p class="fullWidthProducts">PRODUCTS</p>
                                <ul class="footerProductsScroll">
                                    <li><a href="">All products</a></li>
                                    <li><a href="">Running</a></li>
                                    <li><a href="">Jordan</a></li>
                                    <li><a href="">Lifestyle</a></li>
                                    <li><a href="">Football</a></li>
                                    <li><a href="">Basketball</a></li>
                                    <li><a href="">All products</a></li>
                                    <li><a href="">Running</a></li>
                                    <li><a href="">Jordan</a></li>
                                    <li><a href="">Lifestyle</a></li>
                                    <li><a href="">Football</a></li>
                                    <li><a href="">Basketball</a></li>
                                </ul>
                            </li>
                            <li class="footerInformaton">
                                <p class="fullWidthInformation">INFORMATION</p>
                                <ul>
                                    <li><a href="">Contact us</a></li>
                                    <li><a href="">FAQs</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="topFooter">
        <div class="container">
            <div class="row">
                <div class="getInTouch">
                    <p>GET IN TOUCH</p>
                </div>
                <div class="info-links">
                    <div class="info col-lg-3 col-md-6 col-sm-12">
                        <div class="logo"><img
                                src="https://cdn.shopify.com/s/files/1/1385/4931/files/Logo-img_38c63be0-fb31-4328-b860-cedd88ea4232_170x.png?v=1604980222"
                                alt=""></div>
                        <div class="location"><a href="">
                                <i class="fa-solid fa-location-dot"></i></a>
                            <span>184 Main Rd E, St Albans</span>
                        </div>
                        <div class="mail">
                            <i class="fa-solid fa-envelope"></i>
                            <a href="mailto:zeynalli6603.7@gmail.com">zeynalli6603.7@gmail.com</a>
                        </div>
                        <div class="number">
                            <i class="fa-solid fa-phone"></i>
                            <span>+994556436755</span>
                        </div>
                        <div class="socials">
                            <a class="fb" href=""><i class="fa-brands fa-facebook-f"></i></a>
                            <a class="tw" href=""><i class="fa-brands fa-twitter"></i></a>
                            <a class="ig" href=""><i class="fa-brands fa-instagram"></i></a>
                            <a class="yt" href=""><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="links col-lg-9 col-md-6 col-sm-12 ">
                        <ul class="linkUl">
                            <li class="footerBrands">
                                <p class="fullWidthBrand">BRANDS</p>
                                <p class="responsiveBrand">BRANDS</p>
                                <ul>
                                    <li><a href="">Nike</a></li>
                                    <li><a href="">Adidas</a></li>
                                    <li><a href="">Puma</a></li>
                                    <li><a href="">Converse</a></li>
                                    <li><a href="">Vans</a></li>
                                    <li><a href="">New Balance</a></li>
                                </ul>
                            </li>
                            <li class="footerProducts">
                                <p class="fullWidthProducts">PRODUCTS</p>
                                <p class="responsiveProducts">PRODUCTS</p>
                                <ul>
                                    <li><a href="">All products</a></li>
                                    <li><a href="">Running</a></li>
                                    <li><a href="">Jordan</a></li>
                                    <li><a href="">Lifestyle</a></li>
                                    <li><a href="">Football</a></li>
                                    <li><a href="">Basketball</a></li>
                                </ul>
                            </li>
                            <li class="footerInformaton">
                                <p class="fullWidthInformation">INFORMATION</p>
                                <p class="responsiveInformation">INFORMATION</p>
                                <ul>
                                    <li><a href="">Contact us</a></li>
                                    <li><a href="">FAQs</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bottomFooter">
        <div class="container">
            <div class="row">
                <div class="copyright col-lg-6 col-md-6 col-sm-12">
                    Copyright © 2022 Gecko All Rights Reserved. Powered by
                    <a href="https://github.com/JamalZl">
                        JamalZl
                    </a>
                </div>
                <div class="payment col-lg-6 col-md-6 col-sm-12">
                    <img src="https://cdn.shopify.com/s/files/1/1385/4931/files/Payment_6fab6c8d-348e-4917-8e34-4f59a881f1f2.png?v=1604980656"
                        alt="">
                </div>
            </div>
        </div>
    </section>
</footer>