<footer>
    <section id="topFooterFullWidth">
        <div class="container">
            <div class="row">
                <div class="info-links">
                    <div class="info col-lg-3 col-md-6 col-sm-12">
                        <div class="logo"><img
                                src="{{ settings.page_logo.url }}"
                                alt=""></div>
                        <div class="location"><a>
                                <i class="fa-solid fa-location-dot"></i></a>
                            <span>{{ settings.address }}</span>
                        </div>
                        <div class="mail">
                            <i class="fa-solid fa-envelope"></i>
                            <a href="mailto:{{ settings.email }}">{{ settings.email }}</a>
                        </div>
                        <div class="number">
                            <i class="fa-solid fa-phone"></i>
                            <span><a href="tel:{{ settings.telephone }}" style="text-decoration:none; color:white;">{{ settings.telephone }}</a></span>
                        </div>
                        <div class="socials">
                            {% for account in settings.socialmediaaccounts.all %}
                            <a class="fb mx-3" href="{{ account.link }}"><i class="fa-brands fa-{{ account.name }}"></i></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="links col-lg-9 col-md-6 col-sm-12 ">
                        <ul class="linkUl">
                            <li class="footerBrands">
                                <p class="fullWidthBrand">BRANDS</p>
                                <ul class="footerBrandScroll">
                                    {% for shop in shops %}
                                    <li><a href="{% url 'shop:products' %}?shop={{ shop.name }}">{{ shop.name }}</a></li>
                                    {% empty %}
                                    <li>No shop yet.</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="footerProducts">
                                <p class="fullWidthProducts">PRODUCTS</p>
                                <ul class="footerProductsScroll">
                                    <li><a href="{% url 'shop:products' %}">All products</a></li>
                                    {% for category in categories %}
                                    <li><a href="{% url 'shop:products' %}?category={{ category.name }}">{{ category.name }}</a></li>
                                    {% empty %}
                                    <li>No category yet.</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="footerInformaton">
                                <p class="fullWidthInformation">INFORMATION</p>
                                <ul>
                                    <li><a href="{% url 'shop:contact' %}">Contact us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="topFooter">
        <div class="container">
            <div class="row">
                <div class="getInTouch">
                    <p>GET IN TOUCH</p>
                </div>
                <div class="info-links">
                    <div class="info col-lg-3 col-md-6 col-sm-12">
                        <div class="logo"><img
                                src="{{ settings.page_logo.url }}"
                                alt=""></div>
                        <div class="location"><a>
                                <i class="fa-solid fa-location-dot"></i></a>
                            <span>{{ settings.address }}</span>
                        </div>
                        <div class="mail">
                            <i class="fa-solid fa-envelope"></i>
                            <a href="mailto:{{ settings.email }}">{{ settings.email }}</a>
                        </div>
                        <div class="number">
                            <i class="fa-solid fa-phone"></i>
                            <span><a href="tel:{{ settings.telephone }}" style="text-decoration:none; color:white;">{{ settings.telephone }}</a></span>
                        </div>
                        <div class="socials">
                            {% for account in settings.socialmediaaccounts.all %}
                            <a class="fb mx-3" href="{{ account.link }}"><i class="fa-brands fa-{{ account.name }}"></i></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="links col-lg-9 col-md-6 col-sm-12 ">
                        <ul class="linkUl">
                            <li class="footerBrands">
                                <p class="fullWidthBrand">BRANDS</p>
                                <p class="responsiveBrand">BRANDS</p>
                                <ul>
                                    {% for shop in shops %}
                                    <li><a href="{% url 'shop:products' %}?shop={{ shop.name }}">{{ shop.name }}</a></li>
                                    {% empty %}
                                    <li>No shop yet.</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="footerProducts">
                                <p class="fullWidthProducts">PRODUCTS</p>
                                <p class="responsiveProducts">PRODUCTS</p>
                                <ul>
                                    <li><a href="{% url 'shop:products' %}">All products</a></li>
                                    {% for category in categories %}
                                    <li><a href="{% url 'shop:products' %}?category={{ category.name }}">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="footerInformaton">
                                <p class="fullWidthInformation">INFORMATION</p>
                                <p class="responsiveInformation">INFORMATION</p>
                                <ul>
                                    <li><a href="{% url 'shop:contact' %}">Contact us</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bottomFooter">
        <div class="container">
            <div class="row">
                <div class="copyright col-lg-6 col-md-6 col-sm-12">
                    Copyright © 2022 Gecko All Rights Reserved. Powered by
                    <a href="https://github.com/JamalZl">
                        JamalZl
                    </a>
                </div>
                <div class="payment col-lg-6 col-md-6 col-sm-12">
                    <img src="https://cdn.shopify.com/s/files/1/1385/4931/files/Payment_6fab6c8d-348e-4917-8e34-4f59a881f1f2.png?v=1604980656"
                        alt="">
                </div>
            </div>
        </div>
    </section>
</footer>