<header id="homeNavBar" class="generalNavBar stickyNavBar">
    <nav>
        <div class="row">
            <div class="menu animate__animated">
                <div class="menuTxt-closeIcon">
                    <span class="menuTxt">MENU</span>
                    <span class="closeIcon"><i class="las la-times"></i></span>
                </div>
                <ul class="menuLinks">
                    <li><a href="">Home</a></li>
                    <li class="menuShopLi"><a href="">Shop</a>
                        <ul class="menuShopUl">
                            <li><a href="">Nike</a></li>
                            <li><a href="">Adidas</a></li>
                            <li><a href="">Puma</a></li>
                            <li><a href="">New Balance</a></li>
                            <li><a href="">Converse</a></li>
                            <li><a href="">Vans</a></li>
                        </ul>
                    </li>
                    <li class="menuProductsLi"><a href="">Products</a>
                        <ul class="menuProductsUl">
                            <li><a href="">All products</a></li>
                            <li><a href="">Running</a></li>
                            <li><a href="">LifeStyle</a></li>
                            <li><a href="">Jordan</a></li>
                            <li><a href="">Football</a></li>
                            <li><a href="">Basketball</a></li>
                        </ul>
                    </li>
                    <li><a href="">Man</a></li>
                    <li><a href="">Woman</a></li>
                    <li><a href="">Kid</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="#" class="searchIcon">
                            <i class="bi bi-search nav-search"></i>
                            <span>Search</span>
                        </a>
                    </li>
                    <li><a class="userIcon" href="#">
                            <i class="bi bi-person nav-user"></i>
                            <span>Login/Register</span>
                        </a>
                    </li>
                    <li><a href="#" class="wishlist">
                            <i class="bi bi-heart nav-wishlist"></i>
                            <span>Whishlist</span>
                        </a>
                    </li>
                    <li><a href="#" class="basket">
                            <i class="bi bi-cart2 nav-basket"></i>
                            <span>Basket</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="links-logo-icons">
                <div class="nav-links col-lg-5  col-md-1 col-sm-2 col-xs-4">
                    <i class="fa-solid fa-bars menuIcon mx-2"></i>
                    <ul class="navLinkElements">
                        <li><a href="">Home</a></li>
                        <li class="shopLi"><a href="">Shop</a>
                            <div class="shop">
                                <ul class="shopElements">
                                    <li><a href="">Nike</a></li>
                                    <li><a href="">Adidas</a></li>
                                    <li><a href="">Puma</a></li>
                                    <li><a href="">New Balance</a></li>
                                    <li><a href="">Converse</a></li>
                                    <li><a href="">Vans</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="productsLi"><a href="">Products</a>
                            <div class="products">
                                <ul class="productElements">
                                    <li><a href="">All products</a></li>
                                    <li><a href="">Running</a></li>
                                    <li><a href="">Lifestyle</a></li>
                                    <li><a href="">Jordan</a></li>
                                    <li><a href="">Football</a></li>
                                    <li><a href="">Basketball</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="">Man</a></li>
                        <li><a href="">Woman</a></li>
                        <li><a href="">Kid</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
                <div class="logo col-lg-3 col-md-7 col-sm-5 col-xs-12">
                    <a href="">
                        <img src="../static/images/Logo-img_38c63be0-fb31-4328-b860-cedd88ea4232_225x.webp"
                            alt="logo">
                    </a>
                </div>
                <div class="icons col-lg-4  col-md-4 col-sm-5 col-xs-6">
                    <a class="searchIcon" href="#">
                        <i class="bi bi-search nav-search"></i>
                    </a>
                    <a class="userIcon" href="#">
                        <i class="bi bi-person nav-user"></i>
                    </a>
                    <a href="#" class="wishlist">
                        <i class="bi bi-heart nav-wishlist"></i>
                        <span class="wishlistCount">0</span>
                    </a>
                    <a href="#" class="basket">
                        <i class="bi bi-cart2 nav-basket"></i>
                        <span class="basketCount">0</span>
                    </a>
                </div>
            </div>
            <div class="searchArea animate__animated">
                <div class="searchTxt-closeIcon">
                    <span class="searchTxt">SEARCH OUR SITE</span>
                    <span class="searchCloseIcon"><i class="las la-times"></i></span>
                </div>
                <div class="searchInputArea">
                    <form action="post">
                        <input class="searchInput" type="search" autocomplete="off" placeholder="Search for products">
                    </form>
                </div>
                <div class="searchResultArea">
                    <div class="serachResult">
                        <div class="image">
                            <a href="">
                             <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044" alt="">
                            </a>
                         </div>
                         <div class="name-price">
                             <div class="name">
                                 <a href="">Nike Zoom Pegasus</a>
                             </div>
                             <div class="price">
                                 <span>
                                     $350.00
                                 </span>
                             </div>
                         </div>
                    </div>
                    <div class="serachResult">
                        <div class="image">
                            <a href="">
                             <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/2_e195f63f-79e4-436a-a065-ee9fb5895c9d_360x.jpg?v=1604995044" alt="">
                            </a>
                         </div>
                         <div class="name-price">
                             <div class="name">
                                 <a href="">Nike Zoom Pegasus</a>
                             </div>
                             <div class="price">
                                 <span>
                                     $350.00
                                 </span>
                             </div>
                         </div>
                    </div>
                </div>
                <a href="" class="viewAll">
                    View all(2)
                    <i class="fa-solid fa-arrow-right-long"></i>
                </a>
            </div>
            <div class="basketArea animate__animated">
                <div class="basketTxt-closeIcon">
                    <span class="basketTxt">SHOPPING CART</span>
                    <span class="basketCloseIcon"><i class="las la-times"></i></span>
                </div>
                <div class="emptyBasket d-none">
                    <div class="emptybasketIcon">
                        <i class="bi bi-cart-x"></i>
                    </div>
                    <p>Your basket is empty</p>
                    <div class="returnBtn">
                        <a class="basketToShopBtn" href="">RETURN TO SHOP</a>
                    </div>
                </div>
                <div class="basketProductsArea">
                    <div class="products">
                        <div class="basketProduct">
                            <div class="basketProductImage">
                                <a href="">
                                    <img src="https://cdn.shopify.com/s/files/1/1385/4931/products/9_b244f435-8ba1-4547-ac06-9d5dd5f0a134_360x.jpg?v=1604999525" alt="">
                                </a>
                            </div>
                            <div class="basketContent">
                                <div class="productName">
                                    <a href="">
                                        Nike Joyride Dual Run
                                    </a>
                                </div>
                                <span class="productPrice">
                                    $650
                                </span>
                                <div class="removeItem">
                                    <i class="bi bi-trash"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="subtotal">
                        <div class="title">
                            <span class="subtotalTitle">Subtotal</span>
                            <span class="subtotalPrice">$650</span>
                        </div>
                        <div class="desc">
                            <p>Taxes, shipping and discounts codes calculated at checkout</p>
                        </div>
                        <div class="checkoutBtn">
                            <a class="mycheckoutBtn" href="">
                                CHECK OUT
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>