{% load static %}
<header id="NavBar" class="generalNavBar stickyNavBar">
    <nav>
        <div class="row navBarRow">
            <div class="menu animate__animated">
                <div class="menuTxt-closeIcon">
                    <span class="menuTxt">MENU</span>
                    <span class="closeIcon"><i class="las la-times"></i></span>
                </div>
                <ul class="menuLinks">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="menuShopLi"><a>Shop</a>
                        <ul class="menuShopUl">
                            {% for shop in shops %}
                            <li><a href="{% url 'shop:products' %}?shop={{ shop.name }}">{{ shop.name }}</a></li>
                            {% empty %}
                            <li>No shop yet.</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="menuProductsLi"><a>Products</a>
                        <ul class="menuProductsUl">
                            <li><a href="{% url 'shop:products' %}">All products</a></li>
                            {% for category in categories %}
                            <li><a href="{% url 'shop:products' %}?category={{ category.name }}">{{ category.name }}</a></li>
                            {% empty %}
                            <li>No category yet.</li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'shop:products' %}?gender=Men">Man</a></li>
                    <li><a href="{% url 'shop:products' %}?gender=Women">Woman</a></li>
                    <li><a href="{% url 'shop:products' %}?gender=Kid">Kid</a></li>
                    <li><a href="{% url 'shop:products' %}?gender=Unisex">Unisex</a></li>
                    <li><a href="{% url 'shop:contact' %}">Contact</a></li>
                    <li><a class="searchIcon" href="">
                            <i class="bi bi-search nav-search"></i>
                            <span>Search</span>
                        </a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'shop:wishlist' %}" class="wishlist">
                            <i class="bi bi-heart nav-wishlist"></i>
                            <span>Whishlist</span>
                        </a>
                    </li>
                    <li><a href="" class="basket">
                            <i class="bi bi-cart2 nav-basket"></i>
                            <span>Basket</span>
                        </a>
                    </li>
                    {% endif %}
                    <li><a class="userIcon" href="#">
                        <i class="bi bi-person nav-user"></i>
                        {% if request.user.is_authenticated %}
                        <span><a href="{% url 'customer:logout' %}">Logout</a></span>
                        {% else %}
                        <span><a href="{% url 'customer:login' %}">Login/Register</a></span>
                        {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="links-logo-icons">
                <div class="nav-links col-lg-5  col-md-1 col-sm-2 col-xs-4">
                    <i class="fa-solid fa-bars menuIcon"></i>
                    <ul class="navLinkElements">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="shopLi"><a style="cursor:pointer;">Shop</a>
                            <div class="shop">
                                <ul class="shopElements">
                                    {% for shop in shops %}
                                    <li><a href="{% url 'shop:products' %}?shop={{ shop.name }}">{{ shop.name }}</a></li>
                                    {% empty %}
                                    <li>No shop yet.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li class="productsLi"><a style="cursor:pointer;">Products</a>
                            <div class="products">
                                <ul class="productElements">
                                    <li><a href="{% url 'shop:products' %}">All products</a></li>
                                    {% for category in categories %}
                                    <li><a href="{% url 'shop:products' %}?category={{ category.name }}">{{ category.name }}</a></li>
                                    {% empty %}
                                    <li>No category yet.</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li><a href="{% url 'shop:products' %}?gender=Men">Man</a></li>
                        <li><a href="{% url 'shop:products' %}?gender=Women">Woman</a></li>
                        <li><a href="{% url 'shop:products' %}?gender=Kid">Kid</a></li>
                        <li><a href="{% url 'shop:products' %}?gender=Unisex">Unisex</a></li>
                        <li><a href="{% url 'shop:contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="logo col-lg-3 col-md-7 col-sm-5 col-xs-12">
                    <a href="{% url 'index' %}">
                        <img src="{{ settings.page_logo.url }}"
                            alt="logo">
                    </a>
                </div>
                <div class="icons col-lg-4  col-md-4 col-sm-5 col-xs-6">
                    <a class="searchIcon" href="">
                        <i class="bi bi-search nav-search"></i>
                    </a>
                    <div class="userIcon">
                        <i class="bi bi-person nav-user"></i>
                        <div class="userLoginStatus">
                            <ul class="userLoginStatusUl">
                                {% if request.user.is_authenticated %}
                                <li><a>{{ request.user.get_full_name }}</a></li>
                                <li><a href="{% url 'customer:logout' %}">Logout</a></li>
                                {% else %}
                                <li><a href="{% url 'customer:login' %}">Login/Register</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <a href="{% url 'shop:wishlist' %}" class="wishlist">
                        <i class="bi bi-heart nav-wishlist"></i>
                        <span class="wishlistCount" id="wishlistcount">{{ wishlistitems | length }}</span>
                    </a>
                    <a href="" class="basket">
                        <i class="bi bi-cart2 nav-basket"></i>
                        <span class="basketCount" id="basketcount">{{ orderitems | length }}</span>
                    </a>
                </div>
            </div>
            <div class="searchArea animate__animated">
                <div class="searchTxt-closeIcon">
                    <span class="searchTxt">SEARCH OUR SITE</span>
                    <span class="searchCloseIcon"><i class="las la-times"></i></span>
                </div>
                <div class="searchInputArea">
                    <form action="post">
                        <input class="searchInput" id="searchinput" type="search" autocomplete="off" placeholder="Search for products">
                    </form>
                </div>
                <div class="searchResultArea" id="searchresultarea"></div>
                <div id="viewall"></div>
            </div>
            <div class="basketArea animate__animated">
                <div class="basketTxt-closeIcon">
                    <span class="basketTxt">SHOPPING CART</span>
                    <span class="basketCloseIcon"><i class="las la-times"></i></span>
                </div>
                {% if not orderitems %}
                {% if request.user.is_authenticated %}
                <div class="emptyBasket" id="emptybasket">
                    <div class="emptybasketIcon">
                        <i class="bi bi-cart-x"></i>
                    </div>
                    <p>Your basket is empty</p>
                    <div class="returnBtn">
                        <a class="basketToShopBtn" href="{% url 'shop:products' %}">RETURN TO SHOP</a>
                    </div>
                </div>
                {% else %}
                <div class="emptyBasket" id="emptybasket">
                    <div class="emptybasketIcon">
                        <i class="bi bi-cart-x"></i>
                    </div>
                    <p>You have to login for shopping </p>
                    <div class="returnBtn">
                        <a class="basketToShopBtn" href="{% url 'customer:login' %}">LOGIN FOR SHOPPING</a>
                    </div>
                </div>
                {% endif %}>
                {% endif %}
                <div class="basketProductsArea" id="basketproductsarea">
                    <div class="products" id="products">
                        {% for orderitem in orderitems %}
                        <div class="basketProduct">
                            <div class="basketProductImage">
                                <a href="{% url 'shop:detail' orderitem.product.id %}">
                                    <img src="{{ orderitem.product.productimages.first.image.url }}" alt="{{ orderitem.product.name }}" alt="">
                                </a>
                            </div>
                            <div class="basketContent">
                                <div class="d-none">{{ orderitem.id }}</div>
                                <div class="productName">
                                    <a href="">
                                        {{ orderitem.product.name }} x {{ orderitem.quantity }}
                                    </a>
                                </div>
                                <span class="productPrice">
                                    ${{ orderitem.product.price }}
                                </span>
                                <div class="removeItem">
                                    <span class="removingItem"><i class="bi bi-trash"></i></span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="subtotal">
                        <div class="title">
                            <span class="subtotalTitle">Subtotal</span>
                            <span class="subtotalPrice">$<span id="subtotalprice">{{ order.get_subtotal }}</span></span>
                        </div>
                        <div class="desc">
                            <p>Taxes, shipping and discounts codes calculated at checkout.</p>
                        </div>
                        <div class="checkoutBtn">
                            <a class="mycheckoutBtn" href="{% url 'shop:checkout' %}">
                                CHECK OUT
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
